----
reset()
----

Every row in a DataFrame has an index (default: numeric starting from 0).

The index acts like an address or label for rows.

We can also assign custom labels (e.g., names, dates).

In [8]:
import pandas as pd

data = {'name': ['Amit', 'Bhavana', 'Chirag', 'Deepak'],
        'age': [25, 30, 35, 40],
        'salary': [50000, 60000, 70000, 80000]}

df = pd.DataFrame(data)
print(df)

      name  age  salary
0     Amit   25   50000
1  Bhavana   30   60000
2   Chirag   35   70000
3   Deepak   40   80000

Why Reset Index?

    Missing/Duplicate index values (after filtering or operations).
    
    Change row order (when sorting/shuffling).
    
    Merge/Join results (duplicate or strange index values may appear).

### Reset after setting custom index

In [10]:
df_reset = df.set_index('salary').reset_index()
print(df_reset)

   salary     name  age
0   50000     Amit   25
1   60000  Bhavana   30
2   70000   Chirag   35
3   80000   Deepak   40

    reset_index() helps to rearrange and clean up indices.
    
    Use drop=True to completely discard the old index.
    
    Useful after filtering, sorting, merging, joining, or reindexing operations.

### Filtering (index gaps appear)

In [11]:
df_filtered = df[df['age'] > 30]
print(df_filtered)

     name  age  salary
2  Chirag   35   70000
3  Deepak   40   80000

In [12]:
print(df_filtered.reset_index(drop=True))

     name  age  salary
0  Chirag   35   70000
1  Deepak   40   80000

### Sorting

In [13]:
df_sorted = df.sort_values(by="salary", ascending=False)
print(df_sorted)

      name  age  salary
3   Deepak   40   80000
2   Chirag   35   70000
1  Bhavana   30   60000
0     Amit   25   50000

In [14]:
print(df_sorted.reset_index(drop=True))

      name  age  salary
0   Deepak   40   80000
1   Chirag   35   70000
2  Bhavana   30   60000
3     Amit   25   50000

#### Whenever your DataFrame operations leave gaps, duplicates, or disorder in the index 

     â†’ use reset_index() to normalize.