<h1 style="color:blue">Reshape dataframe using stack/unstack</h1>

The stack() function is used to reshape a DataFrame by converting (or "pivoting") columns into rows. 

This operation is particularly useful when you have a DataFrame with multi-level column headers and you want to "stack" the data into a more compact, long-format DataFrame.

stack() converts columns into rows, resulting in a more compact, long-format DataFrame.

unstack() does the opposite, converting rows back into columns.

These functions are particularly useful when working with multi-level indices.

In [1]:
import pandas as pd
df = pd.read_excel("stocks.xlsx",header=[0,1])
df

  Unnamed: 0_level_0    Price                  Price to earnings ratio (P/E)  \
             Company Facebook Google Microsoft                      Facebook
0         2017-06-05      155    955        66                         37.10
1         2017-06-06      150    987        69                         36.98
2         2017-06-07      153    963        62                         36.78
3         2017-06-08      155   1000        61                         36.11
4         2017-06-09      156   1012        66                         37.07


  Google Microsoft
0   32.0     30.31
1   31.3     30.56
2   31.7     30.46
3   31.2     30.11
4   30.0     31.00

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
df.stack()

            Unnamed: 0_level_0   Price  Price to earnings ratio (P/E)
0 Company           2017-06-05     NaN                            NaN
  Facebook                 NaT   155.0                          37.10
  Google                   NaT   955.0                          32.00
  Microsoft                NaT    66.0                          30.31
1 Company           2017-06-06     NaN                            NaN
  Facebook                 NaT   150.0                          36.98
  Google                   NaT   987.0                          31.30
  Microsoft                NaT    69.0                          30.56
2 Company           2017-06-07     NaN                            NaN
  Facebook                 NaT   153.0                          36.78
  Google                   NaT   963.0                          31.70
  Microsoft                NaT    62.0                          30.46
3 Company           2017-06-08     NaN                            NaN
  Facebook                 NaT   155.0                          36.11
  Google                   NaT  1000.0                          31.20
  Microsoft                NaT    61.0                          30.11
4 Company           2017-06-09     NaN                            NaN
  Facebook                 NaT   156.0                          37.07
  Google                   NaT  1012.0                          30.00
  Microsoft                NaT    66.0                          31.00

In [5]:
df.stack(level=0)

                                   Company  Facebook  Google  Microsoft
0 Price                                NaT    155.00   955.0      66.00
  Price to earnings ratio (P/E)        NaT     37.10    32.0      30.31
  Unnamed: 0_level_0            2017-06-05       NaN     NaN        NaN
1 Price                                NaT    150.00   987.0      69.00
  Price to earnings ratio (P/E)        NaT     36.98    31.3      30.56
  Unnamed: 0_level_0            2017-06-06       NaN     NaN        NaN
2 Price                                NaT    153.00   963.0      62.00
  Price to earnings ratio (P/E)        NaT     36.78    31.7      30.46
  Unnamed: 0_level_0            2017-06-07       NaN     NaN        NaN
3 Price                                NaT    155.00  1000.0      61.00
  Price to earnings ratio (P/E)        NaT     36.11    31.2      30.11
  Unnamed: 0_level_0            2017-06-08       NaN     NaN        NaN
4 Price                                NaT    156.00  1012.0      66.00
  Price to earnings ratio (P/E)        NaT     37.07    30.0      31.00
  Unnamed: 0_level_0            2017-06-09       NaN     NaN        NaN

In [6]:
df_stacked=df.stack()
df_stacked

            Unnamed: 0_level_0   Price  Price to earnings ratio (P/E)
0 Company           2017-06-05     NaN                            NaN
  Facebook                 NaT   155.0                          37.10
  Google                   NaT   955.0                          32.00
  Microsoft                NaT    66.0                          30.31
1 Company           2017-06-06     NaN                            NaN
  Facebook                 NaT   150.0                          36.98
  Google                   NaT   987.0                          31.30
  Microsoft                NaT    69.0                          30.56
2 Company           2017-06-07     NaN                            NaN
  Facebook                 NaT   153.0                          36.78
  Google                   NaT   963.0                          31.70
  Microsoft                NaT    62.0                          30.46
3 Company           2017-06-08     NaN                            NaN
  Facebook                 NaT   155.0                          36.11
  Google                   NaT  1000.0                          31.20
  Microsoft                NaT    61.0                          30.11
4 Company           2017-06-09     NaN                            NaN
  Facebook                 NaT   156.0                          37.07
  Google                   NaT  1012.0                          30.00
  Microsoft                NaT    66.0                          31.00

In [7]:
df_stacked.unstack()

  Unnamed: 0_level_0                             Price                   \
             Company Facebook Google Microsoft Company Facebook  Google
0         2017-06-05      NaT    NaT       NaT     NaN    155.0   955.0
1         2017-06-06      NaT    NaT       NaT     NaN    150.0   987.0
2         2017-06-07      NaT    NaT       NaT     NaN    153.0   963.0
3         2017-06-08      NaT    NaT       NaT     NaN    155.0  1000.0
4         2017-06-09      NaT    NaT       NaT     NaN    156.0  1012.0

            Price to earnings ratio (P/E)
  Microsoft                       Company Facebook Google Microsoft
0      66.0                           NaN    37.10   32.0     30.31
1      69.0                           NaN    36.98   31.3     30.56
2      62.0                           NaN    36.78   31.7     30.46
3      61.0                           NaN    36.11   31.2     30.11
4      66.0                           NaN    37.07   30.0     31.00