### Tuple exercises

#### function that calculates the sum and product of all elements in a tuple of numbers.

In [1]:
def sum_product(t):
    
    sum_result = 0
    product_result = 1
 
    for num in t:
        sum_result += num
        product_result *= num
 
    return sum_result, product_result
 
input_tuple = (1, 2, 3, 4)

In [2]:
sum_result, product_result = sum_product(input_tuple)
print(sum_result, product_result)

10 24

#### function that takes two tuples and returns a tuple containing the element-wise sum of the input tuples

In [ ]:
def tuple_elementwise_sum(t1, t2):
    result = tuple(a + b for a, b in zip(t1, t2))
    return result

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

output_tuple = tuple_elementwise_sum(tuple1, tuple2)
print(output_tuple)

#### function that takes a tuple and a value, and returns a new tuple with the value inserted at the beginning of the original tuple and end also.

In [6]:
def insert_value_at_beginning(input_tuple, value_to_insert):
    
    return (value_to_insert,) + input_tuple + (value_to_insert,)

In [7]:
input_tuple = (2, 3, 4)
value_to_insert = 1

In [8]:
output_tuple = insert_value_at_beginning(input_tuple, value_to_insert)                        
print(output_tuple)

(1, 2, 3, 4, 1)

#### function that takes a tuple of strings and concatenates them, separating each string with a space.

In [13]:
input_tuple = ('Hello', 'World', 'from', 'Python')

def concatenate_strings(input_tuple):
    
    return ' '.join(input_tuple)

In [12]:
output_string = concatenate_strings(input_tuple)

print(output_string)

HelloWorldfromPython

### function that takes a tuple of tuples and returns a tuple containing the diagonal elements of the input.

In [ ]:
input_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

def get_diagonal(input_tuple):
    
    return tuple(input_tuple[i][i] for i in range(len(input_tuple)))

In [ ]:
output_tuple = get_diagonal(input_tuple)

print(output_tuple)

#### function that takes two tuples and returns a tuple containing the common elements of the input tuples.

In [21]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

def common_elements(tuple1, tuple2):
    
    return tuple(set(tuple1) & set(tuple2))

In [20]:
output_tuple = common_elements(tuple1, tuple2)

print(output_tuple)

(4, 5)

### Unpack a tuple in several variables

In [17]:
tuplex = 1,2,3
print(tuplex)

n1, n2, n3 = tuplex
print(n1 + n2 + n3)

(1, 2, 3)
6

In [18]:
n1, n2, n3, n4 = tuplex

ValueError: not enough values to unpack (expected 4, got 3)

#### Remove an item from a tuple

In [14]:
tuplex = "p", "y", "t", "h", "o", "n"
print(tuplex)
listx = list(tuplex)
listx

('p', 'y', 't', 'h', 'o', 'n')

['p', 'y', 't', 'h', 'o', 'n']

In [15]:
listx.remove("y")

In [16]:
tuplex = tuple(listx)
print(tuplex)

('p', 't', 'h', 'o', 'n')

### Reverse a tuple

In [22]:
x = ("tuple")

y = reversed(x)
print(tuple(y))

('e', 'l', 'p', 'u', 't')

In [23]:
x = (5, 10, 15, 20)

y = reversed(x)
print(tuple(y))

(20, 15, 10, 5)

### Remove an empty tuple(s) from a list of tuples

In [24]:
L = [(), (),('a', 'b'), ('a', 'b', 'c'), ('d')]

L = [t for t in L if t]
print(L)

[('a', 'b'), ('a', 'b', 'c'), 'd']

### Python program to get the 4th element from the last element of a tuple.

In [25]:
tuplex = ('p', 'y', 't', 'h', 'o', 'n', ' ', 't', 'u', 'p', 'l', 'e')
print(tuplex)

('p', 'y', 't', 'h', 'o', 'n', ' ', 't', 'u', 'p', 'l', 'e')

In [26]:
# Get the 4th element of the tuple (index 3)
item = tuplex[3]
print(item)

h

In [27]:
# Get the 4th element from the end of the tuple (index -4)
item1 = tuplex[-4]
print(item1)

u

###  Tuple to a string

In [28]:
tup = ('p', 'y', 't', 'h', 'o', 'n', ' ', 't', 'u', 'p', 'l', 'e')

# Use the 'join' method to concatenate the characters in the tuple without any spaces and create a single string
str = ''.join(tup)
print(str)

python tuple

#### Python program to find repeated items in a tuple.

In [29]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7
print(tuplex)

# Count the number of times the value 4 appears in the 'tuplex' tuple
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

### Check whether an element exists within a tuple

In [ ]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7

print(4 in tuplex)

print(5 in tuplex)