In [1]:
print('-------tuple-------')
data=(10,20,'ram',56.8)  
data2="a",10,20.9  

print (data)  
print(data2)

print(type(data2))

-------tuple-------
(10, 20, 'ram', 56.8)
('a', 10, 20.9)
<class 'tuple'>

In [2]:
tuple1=()
print(tuple1)

()

In [3]:
tuple11=tuple()
print(tuple11)

()

In [6]:
print('-------tuple with single element-------')

tuple2=(10,)
print(type(tuple2))

-------tuple with single element-------
<class 'tuple'>

In [7]:

tuple2=(10.5)
print(type(tuple2))

<class 'float'>

In [8]:
print('-------nested tuple-------')
tupl1='a','mahesh',10.56  
tupl2=tupl1,(10,20,30) 

print (tupl1)
print (tupl2)

-------nested tuple-------
('a', 'mahesh', 10.56)
(('a', 'mahesh', 10.56), (10, 20, 30))

In [9]:
print('-----accessing tuple-------')
data3=(0,1,2,3,4)  

print (data3[0])
print (data3[0:2])

-----accessing tuple-------
0
(0, 1)

In [10]:
data4=('x','y','z')

print (data4[-3:-1])

('x', 'y')

In [11]:
print (data4[-1:-3])

()

In [13]:
#print (data3[1.1])

In [14]:
print('-----adding tuple-------')
data5=(1,2,3,4)  
data6=('x','y','z')  

data7=data5 + data6  

print (data7)

-----adding tuple-------
(1, 2, 3, 4, 'x', 'y', 'z')

In [16]:
data5=(1,2,3,4)  
data6=(1,)

data7 = data5 + data6  

print (data7)

(1, 2, 3, 4, 1)

In [17]:
print('-----replicating-------')
tuple4=(10,20,30)

print (tuple4 * 2)

-----replicating-------
(10, 20, 30, 10, 20, 30)

In [18]:
print('-----tuple Slicing-------')
data8=(1,2,4,5,7)  
print(data8[0:2])

-----tuple Slicing-------
(1, 2)

In [19]:
print (data8[:-1])

(1, 2, 4, 5)

In [20]:
print (data8[-1:])

(7,)

In [21]:
data8[::-1]

(7, 5, 4, 2, 1)

In [23]:
print('-----deleting elements------')
data10=(10,20,'rahul',40.6,'z')  
print (data10)
del (data10)

#print(data10)

-----deleting elements------
(10, 20, 'rahul', 40.6, 'z')

### index count

In [25]:
t2=(10,'savik',40.6,'z',40.6)  

print(t2.index(40.6))

2

In [26]:
print(t2.index('a'))

ValueError: tuple.index(x): x not in tuple

In [27]:
t2=(10,'savik',40.6,10,'z')  

print(t2.count(10))

2

### Unpack

In [28]:
a, b, c = (10, 20, 30)
print(a,b,c)

10 20 30

In [29]:
a,b  = (10, 20, 30)

print(a,b)

ValueError: too many values to unpack (expected 2)

In [30]:
a = (10, 20, 30)

print(a)

(10, 20, 30)