In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

In [2]:
employee_data=pd.read_csv('employee_data.csv')
employee_data

,Emp #,Designation,Experience,Salary,AggrBehavScore,ActivityScore,LinesOfCode,Qualification,Degree,YearsOfStudy,EducationalInstitute,Gender,Empl_Band
0,e1,Director,15.0,85000,0.33,2,1332,Grad,NaN,15.0,clg,M,A
1,e2,Jr.Dev,3.0,25000,5.67,16,6666,Grad,Btech,16.0,clg,F,C
2,e3,Sr.Dev,6.0,36000,2.33,7,3332,PostGrad,Msc,17.0,unv,M,B
3,e4,Jr.Dev,2.0,20000,9.00,24,9999,NaN,Mtech,18.0,NaN,F,C
4,e5,Sr.Dev,5.0,37000,3.00,9,3999,NaN,Btech,16.0,NaN,F,B
5,e6,Sr.Dev,6.5,36300,2.08,7,3076,NaN,NaN,15.0,unv,M,B
6,e7,Sr.Dev,5.3,32000,2.77,8,3773,PostGrad,IntMsc,NaN,cunv,F,B
7,e8,Director,17.0,89500,0.18,2,1175,NaN,NaN,NaN,NaN,M,A
8,e9,Manager,10.0,63265,1.00,4,1999,NaN,NaN,18.0,iit,F,B
9,e10,Sr.Analyst,9.5,50500,1.11,4,2104,Grad,B.A,15.0,NaN,M,A
10,e11,Sr.Analyst,9.5,53476,1.11,4,2104,Phd,NaN,22.0,NaN,M,A
11,e12,Sr.Manager,12.0,73240,0.67,3,1666,NaN,Msc,27.0,iit,F,A
12,e13,Analyst,8.0,44900,1.50,5,2499,PostGrad,Mba,19.0,clg,M,C
13,e14,Analyst,8.3,42600,1.41,5,2409,NaN,NaN,NaN,NaN,F,C
14,e15,Analyst,8.1,46000,1.47,5,2468,Grad,Bsc,15.0,iit,F,C
15,e16,Manager,10.2,65000,0.96,4,1960,Grad,Btech,16.0,clg,M,B
16,e17,Manager,9.8,67200,1.04,4,2040,Grad,NaN,NaN,NaN,M,B
17,e18,Sr.Manager,13.0,78200,0.54,3,1537,NaN,NaN,15.0,NaN,M,A
18,e19,Sr.Analyst,7.5,52890,1.67,6,2666,NaN,NaN,16.0,NaN,M,A
19,e20,Sr.Analyst,8.7,57000,1.30,5,2298,NaN,NaN,NaN,NaN,F,A
20,e21,Sr.Analyst,8.1,58200,1.47,5,2468,NaN,NaN,NaN,NaN,M,A
21,e22,Sr.Analyst,8.0,50500,1.50,5,2499,postdoc,NaN,NaN,NaN,F,A
22,e23,Analyst,7.2,42300,1.78,6,2777,NaN,NaN,15.0,NaN,M,C
23,e24,Analyst,7.5,47800,1.67,6,2666,NaN,NaN,15.0,NaN,M,C
24,e25,Analyst,7.7,41000,1.60,5,2596,NaN,NaN,15.0,NaN,M,C
25,e26,Manager,10.0,63333,1.00,4,1999,NaN,NaN,17.0,NaN,M,B
26,e27,Manager,11.2,67343,0.79,3,1785,NaN,NaN,17.0,NaN,M,B
27,e28,Manager,10.5,69000,0.90,4,1904,NaN,NaN,NaN,NaN,F,B
28,e29,Sr.Analyst,12.0,79000,0.67,3,1666,NaN,NaN,17.0,NaN,F,A
29,e30,Sr.Manager,13.2,72998,0.52,3,1514,NaN,NaN,19.0,NaN,F,A
30,e31,Sr.Analyst,10.2,51000,0.96,4,1960,NaN,NaN,29.0,NaN,M,A
31,e32,Sr.Analyst,9.9,54000,1.02,4,2019,NaN,NaN,35.0,NaN,F,A

### Analyze two categorical columns "Gender" as input and "Designation" as output feature

In [3]:
employee_data_chi_square = employee_data.loc[:, ['Gender','Designation']]
employee_data_chi_square

   Gender Designation
0       M    Director
1       F      Jr.Dev
2       M      Sr.Dev
3       F      Jr.Dev
4       F      Sr.Dev
5       M      Sr.Dev
6       F      Sr.Dev
7       M    Director
8       F     Manager
9       M  Sr.Analyst
10      M  Sr.Analyst
11      F  Sr.Manager
12      M     Analyst
13      F     Analyst
14      F     Analyst
15      M     Manager
16      M     Manager
17      M  Sr.Manager
18      M  Sr.Analyst
19      F  Sr.Analyst
20      M  Sr.Analyst
21      F  Sr.Analyst
22      M     Analyst
23      M     Analyst
24      M     Analyst
25      M     Manager
26      M     Manager
27      F     Manager
28      F  Sr.Analyst
29      F  Sr.Manager
30      M  Sr.Analyst
31      F  Sr.Analyst

In [4]:
employee_data_chi_square['Gender'].unique()

array(['M', 'F'], dtype=object)

In [5]:
employee_data_chi_square['Designation'].unique()

array(['Director', 'Jr.Dev', 'Sr.Dev', 'Manager', 'Sr.Analyst',
       'Sr.Manager', 'Analyst'], dtype=object)

In [6]:
print("Gender column - datatype : ", employee_data_chi_square['Gender'].dtype)
print("Designation column - datatype : ", employee_data_chi_square['Designation'].dtype)

print("Number of categories in Designation column : ", employee_data_chi_square['Designation'].unique().shape)

Gender column - datatype :  object
Designation column - datatype :  object
Number of categories in Designation column :  (7,)

<h1><center><u>Hypothesis Testing</u></center></h1>

### Can we use "Gender" to predict "Designation" ?. 

Chi-Square Test for Independence can answer this question as "Gender" and "Designation" are categorical features.

### Hypothesis Testing : Chi-Square Test
* **Null Hypothesis (H0):** "Gender" of the employee and "Designation" are independent
* **Alternate Hypothesis (H1):** "Gender" of the employee and "Designation" are not independent(dependent).

In [7]:
cros_tab_gen_desig = pd.crosstab(employee_data_chi_square.Gender, employee_data_chi_square.Designation, margins = True)
cros_tab_gen_desig

Designation,Analyst,Director,Jr.Dev,Manager,Sr.Analyst,Sr.Dev,Sr.Manager,All
Gender,,,,,,,,
F,2,0,2,2,4,2,2,14
M,4,2,0,4,5,2,1,18
All,6,2,2,6,9,4,3,32

In [ ]:

chi2_value, p, dof, ex_table = stats.chi2_contingency(cros_tab_gen_desig, correction=False)

In [ ]:
print("Expected Values: ", ex_table)

In [ ]:
print("P - Values: ", p)

In [ ]:
chi2_value

Correct conclusion for p = 0.98:

Since 0.98 > 0.05, we fail to reject H₀.

So, Gender and Designation are independent.

### Gender with Emp Band

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [ ]:

employee_data_band = employee_data.loc[:, ['Gender','Empl_Band']]

cros_tab_gen_band = pd.crosstab(employee_data_band['Gender'], employee_data_band['Empl_Band'])
print(cros_tab_gen_band)

In [ ]:

chi2, p, dof, expected = chi2_contingency(cros_tab_gen_band)

print("Chi-Square Value:", chi2)
print("Degrees of Freedom:", dof)
print("P-Value:", p)
print("Expected Table:\n", expected)

In [ ]:
alpha = 0.05
if p > alpha:
    print("Fail to reject H0 → Gender and Employee Band are independent")
else:
    print("Reject H0 → Gender and Employee Band are dependent")