In [58]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

### Enforce foreign key constraints in SQLite

In [59]:
cursor.execute("PRAGMA foreign_keys = ON;")

###  Create Tables with FK constraint

In [60]:

cursor.execute('''
CREATE TABLE DEPARTMENTS (
    dept_id INTEGER PRIMARY KEY,
    dept_name TEXT NOT NULL
);
''')

cursor.execute('''
CREATE TABLE STUDENTS (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    dept_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES DEPARTMENTS(dept_id)
);
''')

In [61]:
cursor.executemany('INSERT INTO DEPARTMENTS VALUES (?, ?)', [
    (1, 'Computer Science'),
    (2, 'Physics'),
    (3, 'Mathematics')
])

cursor.executemany('INSERT INTO STUDENTS VALUES (?, ?, ?, ?)', [
    (1, 'Alice', 20, 1),
    (2, 'Bob', 21, 2),
    (3, 'Carol', 22, None),   
    (4, 'Dave', 23, 1)
])

In [62]:

cursor.execute('''
SELECT s.name, d.dept_name
FROM STUDENTS s
INNER JOIN DEPARTMENTS d ON s.dept_id = d.dept_id;
''')

for row in cursor.fetchall():
    print(row)

('Alice', 'Computer Science')
('Bob', 'Physics')
('Dave', 'Computer Science')

In [63]:

cursor.execute('''
SELECT s.name, d.dept_name
FROM STUDENTS s
LEFT JOIN DEPARTMENTS d ON s.dept_id = d.dept_id;
''')

for row in cursor.fetchall():
    print(row)

('Alice', 'Computer Science')
('Bob', 'Physics')
('Carol', None)
('Dave', 'Computer Science')

In [64]:

cursor.execute('''
SELECT s.name, d.dept_name
FROM STUDENTS s
CROSS JOIN DEPARTMENTS d;
''')
for row in cursor.fetchall():
    print(row)

('Alice', 'Computer Science')
('Alice', 'Physics')
('Alice', 'Mathematics')
('Bob', 'Computer Science')
('Bob', 'Physics')
('Bob', 'Mathematics')
('Carol', 'Computer Science')
('Carol', 'Physics')
('Carol', 'Mathematics')
('Dave', 'Computer Science')
('Dave', 'Physics')
('Dave', 'Mathematics')