### The file expenses.txt has a bunch of expenses, each an integer, one on each line. 

Write a program that reads the file and prints out how many expenses are over $2000. 

Print all of them on the same line

In [2]:
lines = [line.strip() for line in open('./contents/expenses.txt')]

print(lines)

['151', '9', '1', '12', '45', '55', '4', '791', '13', '1429', '11', '31', '34', '9', '412', '41', '2212', '5', '121', '2', '21', '1', '726', '252', '6375', '89', '41', '1', '89', '28', '3', '6', '3819', '8', '213', '5131', '5123', '313', '1721', '65', '8', '162', '6', '6', '2362', '1', '751', '441', '1646', '2155', '22', '1', '6', '1821', '5251', '3411', '1821', '31', '432', '411', '13', '5924', '2111', '168', '5', '4211', '5', '56', '51', '158', '541', '4211', '5672', '9814', '4611', '4268', '9', '91', '412', '5421', '724', '89', '19', '21', '5', '2247', '2', '241', '653', '4', '4271', '4', '2', '186', '63', '34', '34', '5', '18', '1654']

In [3]:
exp = [int(item) for item in lines if int(item) > 2000]

print(exp)

[2212, 6375, 3819, 5131, 5123, 2362, 2155, 5251, 3411, 5924, 2111, 4211, 4211, 5672, 9814, 4611, 4268, 5421, 2247, 4271]

### usimg map

In [5]:

with open('./contents/expenses.txt', "r") as f:
    lines = [line.strip() for line in f]
print(lines)

['151', '9', '1', '12', '45', '55', '4', '791', '13', '1429', '11', '31', '34', '9', '412', '41', '2212', '5', '121', '2', '21', '1', '726', '252', '6375', '89', '41', '1', '89', '28', '3', '6', '3819', '8', '213', '5131', '5123', '313', '1721', '65', '8', '162', '6', '6', '2362', '1', '751', '441', '1646', '2155', '22', '1', '6', '1821', '5251', '3411', '1821', '31', '432', '411', '13', '5924', '2111', '168', '5', '4211', '5', '56', '51', '158', '541', '4211', '5672', '9814', '4611', '4268', '9', '91', '412', '5421', '724', '89', '19', '21', '5', '2247', '2', '241', '653', '4', '4271', '4', '2', '186', '63', '34', '34', '5', '18', '1654']

In [6]:

numbers = list(map(int, lines))
print(numbers)

[151, 9, 1, 12, 45, 55, 4, 791, 13, 1429, 11, 31, 34, 9, 412, 41, 2212, 5, 121, 2, 21, 1, 726, 252, 6375, 89, 41, 1, 89, 28, 3, 6, 3819, 8, 213, 5131, 5123, 313, 1721, 65, 8, 162, 6, 6, 2362, 1, 751, 441, 1646, 2155, 22, 1, 6, 1821, 5251, 3411, 1821, 31, 432, 411, 13, 5924, 2111, 168, 5, 4211, 5, 56, 51, 158, 541, 4211, 5672, 9814, 4611, 4268, 9, 91, 412, 5421, 724, 89, 19, 21, 5, 2247, 2, 241, 653, 4, 4271, 4, 2, 186, 63, 34, 34, 5, 18, 1654]

In [7]:

exp = [num for num in numbers if num > 2000]
print(exp)

[2212, 6375, 3819, 5131, 5123, 2362, 2155, 5251, 3411, 5924, 2111, 4211, 4211, 5672, 9814, 4611, 4268, 5421, 2247, 4271]

### Use wordlist.txt to do the following.

#### All words that contain the string "quot".

In [8]:
words = [line.strip() for line in open('./contents/wordlist.txt')]
print(words[:50])

['a', 'aah', 'aardvark', 'aardvarks', 'abaci', 'aback', 'abacus', 'abacuses', 'abaft', 'abalone', 'abalones', 'abandon', 'abandoned', 'abandoning', 'abandonment', 'abandons', 'abase', 'abased', 'abasement', 'abases', 'abash', 'abashed', 'abashedly', 'abashes', 'abashing', 'abashment', 'abasing', 'abate', 'abated', 'abatement', 'abates', 'abating', 'abattoir', 'abattoirs', 'abbe', 'abbes', 'abbess', 'abbesses', 'abbey', 'abbeys', 'abbot', 'abbots', 'abbreviate', 'abbreviated', 'abbreviates', 'abbreviating', 'abbreviation', 'abbreviations', 'abdicate', 'abdicated']

In [9]:
for word in words:
    if 'quot' in word:
        print(word, end=' ')
print()

misquotation misquotations misquote misquoted misquotes misquoting quota quotability quotable quotas quotation quotations quote quoted quotes quoth quotidian quotient quotients quoting unquote unquoted unquotes unquoting

### All words of at least six letters that start and end with the same three letters.

In [10]:

for word in words:
    if len(word) >= 6 and word[:3] == word[-3:]:
        print(word, end=' ')
print()

anticoagulant antidepressant antioxidant antiperspirant bedaubed bonbon cancan chichi dumdum entailment entanglement entertainment enthrallment enthralment enthronement enticement entitlement entombment entrancement entrapment entrenchment felafel hotshot ingesting ingraining ingratiating ingrowing ionization mesdames microcosmic murmur muumuu outshout pawpaw physiography pompom redelivered rediscovered respires restores restructures tartar tessellates testates testes tormentor tsetse underground

### The longest word that starts and ends with the same letter.

In [ ]:

longest = 'a'

for word in words:
    if word[0] == word[-1] and len(word) > len(longest):
        longest = word

print(longest)

### Write a program that reads through wordlist.txt and produces a new file new_wordlist.txt 

that contains all the words from wordlist.txt that are 5 or less letters long.

In [14]:
output_file = open('new_wordlist.txt', 'w')

lines = [line.strip() for line in open('./contents/wordlist.txt')]
print(lines[:10])

['a', 'aah', 'aardvark', 'aardvarks', 'abaci', 'aback', 'abacus', 'abacuses', 'abaft', 'abalone']

In [15]:
for line in lines:
    if len(line) <= 5:
        print(line, file=output_file)
output_file.close()
print("end")

end

#### Each line of the file population.txt contains a country name and its population, separated by a tab.

Write a program that uses the file to print out all the countries whose names start with G that have at least 500,000 people.

In [16]:
lines = [line.strip() for line in open('./contents/population.txt')]
print(lines)

['China\t1368050000', 'India\t1266480000', 'United States\t320341000', 'Indonesia\t255461700', 'Brazil\t203841000', 'Pakistan\t188894000', 'Nigeria\t183523000', 'Bangladesh\t157784000', 'Russia\t146270033', 'Japan\t127020000', 'Mexico\t121005815', 'Philippines\t100959800', 'Vietnam\t90730000', 'Ethiopia\t90076012', 'Egypt\t87965900', 'Germany\t80767000', 'Iran\t78096500', 'Turkey\t77695904', 'Democratic Republic of the Congo\t71246000', 'France\t66092000', 'Thailand\t64871000', 'United Kingdom\t64105654', 'Italy\t60782897', 'South Africa\t54002000', 'Burma\t51419420', 'South Korea\t50423955', 'Colombia\t47984800', 'Tanzania\t47421786', 'Kenya\t46749000', 'Spain\t46464053', 'Argentina\t43131966', 'Ukraine\t42953889', 'Algeria\t39500000', 'Poland\t38496000', 'Sudan\t38435252', 'Iraq\t36004552', 'Canada\t35675834', 'Uganda\t34856813', 'Morocco\t33516100', 'Saudi Arabia\t31521418', 'Peru\t31151643', 'Venezuela\t30620404', 'Uzbekistan\t30492800', 'Malaysia\t30483800', 'Nepal\t28037904', 'Ghana\t27043093', 'Afghanistan\t26556800', 'Yemen\t25956000', 'Mozambique\t25727911', 'North Korea\t25155000', 'Angola\t24383301', 'Australia\t23735500', 'Taiwan\t23433753', 'Ivory Coast\t22671331', 'Syria\t22265000', 'Madagascar\t21842167', 'Cameroon\t21143237', 'Sri Lanka\t20359439', 'Romania\t19942642', 'Niger\t19268000', 'Chile\t18006407', 'Kazakhstan\t17397200', 'Burkina Faso\t17322796', 'Netherlands\t16888500', 'Malawi\t16310431', 'Mali\t16259000', 'Ecuador\t15925700', 'Guatemala\t15806675', 'Zambia\t15473905', 'Cambodia\t15405157', 'Chad\t13606000', 'Senegal\t13508715', 'Zimbabwe\t13061239', 'South Sudan\t11892934', 'Bolivia\t11410651', 'Belgium\t11233192', 'Cuba\t11210064', 'Somalia\t11123000', 'Rwanda\t10996891', 'Greece\t10992589', 'Tunisia\t10982754', 'Haiti\t10911819', 'Guinea\t10628972', 'Czech Republic\t10521600', 'Portugal\t10477800', 'Dominican Republic\t10378267', 'Benin\t10315244', 'Hungary\t9879000', 'Burundi\t9823827', 'Sweden\t9743087', 'Azerbaijan\t9583200', 'United Arab Emirates\t9577000', 'Belarus\t9481000', 'Honduras\t8725111', 'Austria\t8572895', 'Israel\t8296000', 'Switzerland\t8211700', 'Tajikistan\t8161000', 'Papua New Guinea\t7398500', 'Bulgaria\t7245677', 'Hong Kong (China)\t7234800', 'Togo\t7171000', 'Serbia\t7146759', 'Paraguay\t6893727', 'Laos\t6802000', 'Eritrea\t6738000', 'Jordan\t6687470', 'El Salvador\t6401240', 'Sierra Leone\t6319000', 'Libya\t6317000', 'Nicaragua\t6134270', 'Turkmenistan\t5888000', 'Kyrgyzstan\t5874100', 'Denmark\t5655750', 'Finland\t5475526', 'Singapore\t5469700', 'Slovakia\t5421034', 'Norway\t5156450', 'Central African Republic\t4803000', 'Costa Rica\t4773130', 'Republic of the Congo\t4671000', 'Ireland\t4609600', 'New Zealand\t4559890', 'Palestine\t4550368', 'Liberia\t4503000', 'Georgia\t4490500', 'Croatia\t4267558', 'Lebanon\t4104000', 'Oman\t4099904', 'Bosnia and Herzegovina\t3791622', 'Panama\t3713312', 'Moldova\t3557600', 'Puerto Rico (U.S.)\t3548397', 'Mauritania\t3545620', 'Uruguay\t3404189', 'Kuwait\t3268431', 'Armenia\t3013900', 'Mongolia\t3000000', 'Lithuania\t2921920', 'Albania\t2895947', 'Jamaica\t2717991', 'Qatar\t2235431', 'Lesotho\t2120000', 'Namibia\t2113077', 'Macedonia\t2065769', 'Slovenia\t2065549', 'Botswana\t2024904', 'Latvia\t1988400', 'The Gambia\t1882450', 'Kosovo\t1816891', 'Guinea-Bissau\t1788000', 'Gabon\t1751000', 'Equatorial Guinea\t1430000', 'Trinidad and Tobago\t1328019', 'Bahrain\t1316500', 'Estonia\t1312252', 'Mauritius\t1261208', 'East Timor\t1212107', 'Swaziland\t1106189', 'Djibouti\t900000', 'Fiji\t859178', 'Cyprus\t858000', 'Reunion (France)\t840974', 'Comoros\t763952', 'Bhutan\t756940', 'Guyana\t746900', 'Macau (China)\t631000', 'Montenegro\t620029', 'Western Sahara\t604000', 'Solomon Islands\t581344', 'Luxembourg\t549700', 'Suriname\t534189', 'Cape Verde\t518467', 'Transnistria\t505153', 'Malta\t416055', 'Guadeloupe (France)\t405739', 'Brunei\t393372', 'Martinique (France)\t386486', 'The Bahamas\t368390', 'Belize\t349728', 'Maldives\t341256', 'Iceland\t328170', 'Northern Cyprus\t294906', 'Barbados\t285000', 'New Caledonia (France)\t268767', 'French Polynesia (France)\t268270', 'Vanuatu\t264652', 'Abkhazia\t240705', 'French Guiana (France)\t239648', 'Mayotte (France)\t212645', 'Samoa\t187820', 'Sao Tome and Principe\t187356', 'Saint Lucia\t185000', 'Guam (U.S.)\t159358', 'Curacao (Netherlands)\t154843', 'Saint Vincent and the Grenadines\t109000', 'Aruba (Netherlands)\t107394', 'Kiribati\t106461', 'United States Virgin Islands (U.S.)\t106405', 'Grenada\t103328', 'Tonga\t103252', 'Federated States of Micronesia\t101351', 'Jersey (UK)\t99000', 'Seychelles\t89949', 'Antigua and Barbuda\t86295', 'Isle of Man (UK)\t84497', 'Andorra\t76949', 'Dominica\t71293', 'Bermuda (UK)\t64237', 'Guernsey (UK)\t63085', 'Greenland (Denmark)\t56295', 'Marshall Islands\t56086', 'Cayman Islands (UK)\t55691', 'American Samoa (U.S.)\t55519', 'Saint Kitts and Nevis\t55000', 'Northern Mariana Islands (U.S.)\t53883', 'South Ossetia[24]\t51547', 'Faroe Islands (Denmark)\t48605', 'Sint Maarten (Netherlands)\t37429', 'Liechtenstein\t37132', 'Monaco\t36950', 'Collectivity of Saint Martin (France)\t35742', 'San Marino\t32777', 'Turks and Caicos Islands (UK)\t31458', 'Gibraltar (UK)\t30001', 'Aland Islands (Finland)\t28875', 'British Virgin Islands (UK)\t28054', 'Caribbean Netherlands (Netherlands)\t23296', 'Palau\t20901', 'Cook Islands (New Zealand)\t14974', 'Anguilla (UK)\t13452', 'Wallis and Futuna (France)\t13135', 'Tuvalu\t11323', 'Nauru\t10084', 'Saint Barthelemy (France)\t9131', 'Saint Pierre and Miquelon (France)\t6069', 'Montserrat (UK)\t4922', 'Saint Helena, Ascension and Tristan da Cunha (UK)\t4000', 'Falkland Islands (UK)\t3000', 'Svalbard and Jan Mayen (Norway)\t2562', 'Norfolk Island (Australia)\t2302', 'Christmas Island (Australia)\t2072', 'Niue (New Zealand)\t1613', 'Tokelau (NZ)\t1411', 'Vatican City\t839', 'Cocos (Keeling) Islands (Australia)\t550', 'Pitcairn Islands (UK)\t56']

In [ ]:
for line in lines:
    L = line.split('\t')
    country = L[0]
    population = int(L[1])
    
    if country[0] == 'I' and population >= 5000000:
        print(country, population)