# Databases


A database is an organized collection of data that can be easily accessed, managed, and updated.

It stores data in a structured way, allowing users and programs to retrieve or modify it efficiently.

| Term                                  | Meaning                                                    |
| ------------------------------------- | ---------------------------------------------------------- |
| **Data**                              | Raw facts (e.g., name, salary, marks)                      |
| **Database**                          | Collection of related data                                 |
| **DBMS (Database Management System)** | Software to manage databases                               |
| **Table**                             | Structure that stores data in rows and columns             |
| **Record (Row)**                      | One complete entry (e.g., one student)                     |
| **Field (Column)**                    | Attribute of data (e.g., Name, Age)                        |
| **Query**                             | A request to fetch or modify data (usually written in SQL) |

<b>SQL</b> stands for Structured Query Language.

    It is the standard language used to interact with databases.

With SQL :

    Create and manage databases
    
    Add, update, and delete data
    
    Search and filter records
    
    Join data from multiple tables

#### SQLite is a lightweight, serverless, embedded SQL database engine.

| Feature              | Description                                     |
| -------------------- | ----------------------------------------------- |
|  Serverless        | No installation or server needed                |
|  File-Based        | Data stored in a single `.db` or `.sqlite` file |
|  Fast & Lightweight | Perfect for small to medium applications        |
|  Cross-platform    | Works on Windows, Linux, Mac, Android, iOS      |
|  Embedded          | Used in browsers, mobile apps, IoT devices      |
|  Transactional      | Support ACID properties     |

In [ ]:
import sqlite3

db = "emp.db"

conn = sqlite3.connect(db)

print ("Opened database successfully")

| Data Type | Description                          | Example                  |
| --------- | ------------------------------------ | ------------------------ |
| `NULL`    | No value                             | `NULL`                   |
| `INTEGER` | Whole numbers (positive or negative) | `10`, `-5`               |
| `REAL`    | Decimal numbers (floating point)     | `3.14`, `-2.5`           |
| `TEXT`    | Strings (words, sentences)           | `'apple'`, `'hello'`     |
| `BLOB`    | Binary data (images, files)          | Raw bytes like `X'ABCD'` |

### Example

CREATE TABLE students (
    id INTEGER,            -- Whole number
    name TEXT,             -- String
    age INTEGER,           -- Whole number
    height REAL,           -- Decimal number
    photo BLOB,            -- Image/file
    is_active INTEGER,     -- 1 (true), 0 (false)
    notes TEXT             -- Optional notes
);

#### Integrity Constraints in SQLite

| Constraint    | Description                      | Example                                      |
| ------------- | -------------------------------- | -------------------------------------------- |
| `PRIMARY KEY` | Uniquely identifies each row     | `id INTEGER PRIMARY KEY`                     |
| `NOT NULL`    | Value must not be NULL           | `name TEXT NOT NULL`                         |
| `UNIQUE`      | Value must be unique across rows | `email TEXT UNIQUE`                          |
| `CHECK`       | Must satisfy a condition         | `age INTEGER CHECK(age >= 18)`               |
| `FOREIGN KEY` | Links to another table's column  | `student_id INTEGER REFERENCES students(id)` |

In [ ]:
import sqlite3

conn = sqlite3.connect(db)
print ("Opened database successfully")

conn.execute('''CREATE TABLE COMPANY 
        (ID INT PRIMARY KEY,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

print ("Table created successfully")

conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect(db)
print ("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (5, 'David', 27, 'Texas ', 85000.0 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (6, 'Kim', 22, 'South-Hall ', 45000.0 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) VALUES (7, 'James', 24, 'Houston ', 10000.0)");

conn.commit()
print ("Records created successfully")
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect(db)
print ("Opened database successfully")

data_r = conn.execute("SELECT ID,NAME,AGE,ADDRESS,SALARY from COMPANY")

for r in data_r :
    print ("ID = ", r[0])
    print ("NAME = ", r[1])
    print ("AGE = ", r[2])
    print ("ADDRESS = ", r[3])
    print ("SALARY = ", r[4], "\n")

print ("Operation done successfully")
conn.close()

### By default, when you fetch results from SQLite using sqlite3, each row is returned as a tuple.

If you set:

conn.row_factory = sqlite3.Row

then each row is returned as a special Row object, which behaves like both a tuple and a dictionary.

That means you can access columns by index or by column name.

#### conn.row_factory = sqlite3.Row makes each row act like a dictionary, so you can access columns by name.

In [ ]:
conn = sqlite3.connect(db)
print ("Opened database successfully")

conn.row_factory = sqlite3.Row

data_r2 = conn.execute("SELECT * FROM COMPANY")

for row in data_r2:
    print(row["ID"], row["NAME"], row["AGE"], row["ADDRESS"], row["SALARY"])

print ("Operation done successfully")
conn.close()

### update

In [ ]:
import sqlite3

conn = sqlite3.connect(db)
print ("Opened database successfully")

conn.execute("UPDATE COMPANY set age= 28, ADDRESS= 'INDIA' where ID = 1")
conn.commit()

print ("Total number of rows updated :", conn.total_changes)

In [ ]:
import sqlite3

conn = sqlite3.connect(db)
cursor = conn.execute("SELECT id, name, age, address, salary from COMPANY")
for row in cursor:
    print ("ID = ", row[0])
    print ("NAME = ", row[1])
    print ("AGe = ", row[2])
    print ("ADDRESS = ", row[3])
    print ("SALARY = ", row[4], "\n")

print ("Operation done successfully")
conn.close()

### delete

In [ ]:
import sqlite3

conn = sqlite3.connect(db)
print ("Opened database successfully")

conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print ("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")
conn.close()

### with syntax

The with statement is used to wrap the execution of a block of code within a context manager.
    
It automatically handles setup and cleanup actions â€” for example, closing files or database connections.

    with <expression> as <variable>:
    # code block

When the block ends, Python automatically calls cleanup methods (like close() or commit())

### Cursor Methods

### Fetchall

In [ ]:
import sqlite3 as lite
con = lite.connect(db)

with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY")

    rows = cur.fetchall()

    for row in rows:
        print (row)

print("end")

### Fetch one

In [ ]:
import sqlite3 as lite
con = lite.connect(db)

with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM COMPANY")
    
    while True:
        row = cur.fetchone()

        if row is None:  
            break
        
        print (row[0], row[1], row[2], row[3], row[4])

print("end")

### Fetch Many

In [ ]:
import sqlite3 as lite
con = lite.connect(db)

batch_size = 2
cursor = con.cursor()
cursor.execute("SELECT * FROM COMPANY")

while True:
    records = cursor.fetchmany(batch_size)
    
    if not records:
        break

    print(f"--- Retrieved {len(records)} rows ---")
    for row in records:
        print("Id:    ", row[0])
        print("Name:  ", row[1])
        print("Email: ", row[2])
        print("Salary:", row[3])
        print()
    
cursor.close()
conn.close()

# Parameterized Queries

In [ ]:
import sqlite3
conn = sqlite3.connect('LanguageDB')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS languages')
cur.execute('CREATE TABLE languages (subject TEXT, marks INTEGER)')

cur.execute('INSERT INTO languages (subject, marks) VALUES (?, ?)',  ('C', 100))
cur.execute('INSERT INTO languages (subject, marks) VALUES (?, ?)',  ('Java', 200))
cur.execute('INSERT INTO languages (subject, marks) VALUES (?, ?)',  ('Python', 300))
conn.commit()

print('Languages:')
cur.execute('SELECT subject, marks FROM languages')
for row in cur:
     print(row)
cur.close()

In [ ]:
# Insert Update Read using Parameterized query

In [ ]:
import sqlite3

with sqlite3.connect("paramq.db") as conn:
    cursor = conn.cursor()

    # 1. Create table if not exists
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
    """)

    # 2. Insert a new record
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", (name, age))
    print(f"Inserted {cursor.rowcount} row(s)")

    # 3. Update the same record
    new_age = int(input(f"Enter new age for {name}: "))
    cursor.execute("UPDATE users SET age = ? WHERE name = ?", (new_age, name))
    print(f"Updated {cursor.rowcount} row(s)")

    # 4. Select and display the updated record
    cursor.execute("SELECT * FROM users WHERE name = ?", (name,))
    rows = cursor.fetchall()

    print("\nFinal record(s):")
    for row in rows:
        print(row)

In SQLite, if you define a column as INTEGER PRIMARY KEY, it automatically becomes an auto-incrementing rowid alias.

## In memory Database

### Execute Script

In [1]:
import sqlite3

con = sqlite3.connect(":memory:")

cur = con.cursor()

cur.executescript("""
    create table samples(id,value);
    insert into samples(id, value) values ('123','abcdef');
    """)
cur.execute("SELECT * from samples")
print (cur.fetchone())

('123', 'abcdef')

In [2]:
import sqlite3
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

cur.executescript("""
    DROP TABLE IF EXISTS students;
    CREATE TABLE students (id INTEGER PRIMARY KEY,name TEXT NOT NULL,grade INTEGER);

    INSERT INTO students (name, grade) VALUES ('Alice', 85);
    INSERT INTO students (name, grade) VALUES ('Bob', 90);
    INSERT INTO students (name, grade) VALUES ('Charlie', 78);
""")

cur.execute("SELECT * FROM students")
rows = cur.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Alice', 85)
(2, 'Bob', 90)
(3, 'Charlie', 78)

#### Read the SQL script from file

In [3]:
import sqlite3

with open('setup.sql', 'r') as f:
    sql_script = f.read()
    
print(sql_script)

DROP TABLE IF EXISTS employees;

CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    position TEXT,
    salary REAL
);

INSERT INTO employees (name, position, salary) VALUES ('Alice', 'Manager', 75000);
INSERT INTO employees (name, position, salary) VALUES ('Bob', 'Developer', 60000);
INSERT INTO employees (name, position, salary) VALUES ('Charlie', 'Designer', 55000);

In [4]:
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

cur.executescript(sql_script)

cur.execute("SELECT * FROM employees")
for row in cur.fetchall():
    print(row)

conn.close()

(1, 'Alice', 'Manager', 75000.0)
(2, 'Bob', 'Developer', 60000.0)
(3, 'Charlie', 'Designer', 55000.0)

### executemany

executemany() is a method used with a database cursor to execute the same SQL statement multiple times, 
 
  with different parameters each time  (usually in a list of tuples).

| Method          | Use Case                                                               |
| --------------- | ---------------------------------------------------------------------- |
| `execute`       | Run **one SQL statement** (with params).                               |
| `executemany`   | Run the **same SQL statement repeatedly** with different params.       |
| `executescript` | Run **multiple SQL statements** at once (schema, batch inserts, etc.). |

In [5]:
import sqlite3

conn = sqlite3.connect(":memory:")
cur = conn.cursor()

cur.execute("""
    CREATE TABLE employees (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        department TEXT NOT NULL,
        salary REAL
    )
""")

employee_data = [
    ("Amit Sharma", "Human Resources", 52000),
    ("Priya Iyer", "Engineering", 78000),
    ("Ravi Kumar", "Finance", 64000),
    ("Neha Singh", "Engineering", 82000),
    ("Arjun Patel", "Marketing", 58000),
    ("Kavita Das", "Sales", 61000),
    ("Vikram Rao", "Operations", 70000)
]

cur.executemany(
    "INSERT INTO employees (name, department, salary) VALUES (?, ?, ?)",
    employee_data
)
conn.commit()

print("ðŸ§¾ Before Salary Update:\n")
for row in cur.execute("SELECT id, name, department, salary FROM employees"):
    print(row)

# ---------------------------------------------------
#  Define salary updates (salary increment)
# Each tuple â†’ (new_salary, employee_name)
# ---------------------------------------------------
salary_updates = [
    (55000, "Amit Sharma"),     # HR increment
    (83000, "Priya Iyer"),      # Engineering increment
    (67000, "Ravi Kumar"),      # Finance increment
    (85000, "Neha Singh"),      # Engineering increment
    (60000, "Arjun Patel"),     # Marketing increment
    (64000, "Kavita Das"),      # Sales increment
    (73000, "Vikram Rao")       # Operations increment
]

# Update salaries using executemany()
cur.executemany("UPDATE employees SET salary = ? WHERE name = ?", salary_updates)
conn.commit()

print("\nâœ… After Salary Update:\n")
for row in cur.execute("SELECT id, name, department, salary FROM employees"):
    print(row)

conn.close()

ðŸ§¾ Before Salary Update:

(1, 'Amit Sharma', 'Human Resources', 52000.0)
(2, 'Priya Iyer', 'Engineering', 78000.0)
(3, 'Ravi Kumar', 'Finance', 64000.0)
(4, 'Neha Singh', 'Engineering', 82000.0)
(5, 'Arjun Patel', 'Marketing', 58000.0)
(6, 'Kavita Das', 'Sales', 61000.0)
(7, 'Vikram Rao', 'Operations', 70000.0)

âœ… After Salary Update:

(1, 'Amit Sharma', 'Human Resources', 55000.0)
(2, 'Priya Iyer', 'Engineering', 83000.0)
(3, 'Ravi Kumar', 'Finance', 67000.0)
(4, 'Neha Singh', 'Engineering', 85000.0)
(5, 'Arjun Patel', 'Marketing', 60000.0)
(6, 'Kavita Das', 'Sales', 64000.0)
(7, 'Vikram Rao', 'Operations', 73000.0)