A transaction<b> a set of one or more SQL operations (like INSERT, UPDATE, DELETE) that are executed as a single unit. </B>

The goal is to ensure data integrity — either all operations succeed or none are applied.

Real-Life Use Case:

Banking: Transfer ₹1000 from A to B:

    Deduct ₹1000 from A
    
    Add ₹1000 to B
    
    If either step fails → ROLLBACK
    
    If both succeed → COMMIT

In [3]:
import sqlite3

conn = sqlite3.connect("students.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    grade INTEGER
)
""")

try:
    cursor.execute("INSERT INTO students (name, grade) VALUES (?, ?)", ('Alice', 85))
    cursor.execute("UPDATE students SET grade = 90 WHERE name = 'Bob'")

    if cursor.rowcount == 0:
        raise ValueError("No student named 'Bob' found")

    conn.commit()
    print("Transaction committed successfully!")

except Exception as e:
    conn.rollback()
    print("Transaction failed, rolled back.")
    print("Error:", e)

Transaction committed successfully!

In [2]:
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

try:
    conn.execute("BEGIN")

    cursor.execute("INSERT INTO students (name, grade) VALUES (?, ?)", ('Alice', 85))

    cursor.execute("INSERT INTO students (name, grade) VALUES (?, ?)", ('Bob', 70))

    cursor.execute("UPDATE students SET grade = 90 WHERE name = 'Bob'")

    if cursor.rowcount == 0:
        raise ValueError("No student named 'Bob' found")

    conn.commit()
    print("Transaction committed successfully!")

except Exception as e:
    conn.rollback()
    print("Transaction failed, rolled back.")
    print("Error:", e)

Transaction committed successfully!